/*.container {
  max-width: 100% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/

.black-bar{
  width: 100%;
  height: 1em;
  background-color: black;
}

hr{
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.containerTrack {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.imageTrack {
  display: block;
  width: 100%;
  height: 100%;
}

.overlayTrack {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.877); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.containerTrack:hover .overlayTrack {
  opacity: 1;
}

