/*.container {
  max-width: 100% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/

html, body{
  background-color: black;
  color: white;
}

.table {
  color: white;
}

.black-bar{
  width: 100%;
  height: .25em;
  background-color: black;
  margin: 0;
}

hr{
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #1ed760;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 10px;
  text-align: center;
  font-size: large;
}

/* Position text in the middle of the page/image */
.bg-genre {
  background-color: rgba(250, 250, 250, 0.116);
  color: white;
  font-weight: bold;
  border: 1px solid #1ed760;
  z-index: 2;
  width: auto;
  padding-left: .5em;
  padding-right: .5em;
  margin: 0;
  text-align: center;
  font-size: small;
}

.bg-artist {
  font-weight: bold;
  color: white;
}

.bg-track {
  font-size: xx-small;
  color: white;
  display: flex;
}

.circle-artist{
  border-radius: 50%;
  width: -webkit-fill-available;
}

.track-img {
  width: -webkit-fill-available;
}

.containerTrack {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.imageTrack {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-device-width: 450px) {
  .overlayTrack {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.877); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 10px;
    padding: 20px;
    text-align: center;
  }
}

@media (min-device-width: 451px) {
  .overlayTrack {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.877); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
}

.containerTrack:hover .overlayTrack {
  opacity: 1;
}

a {
  color: #1ed760;
}

a:hover {
  color: #1ed760;
}

.btn-outline-primary{
  font-weight: 700;
  color: #1ed760;
  border-color: #1ed760;
  box-shadow: #1ed760;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:visited, .open, .btn-outline-primary.active{
  color: #fff;
  background-color: #1ed760;
  border-color: #1ed760;
  box-shadow: #1ed760;
}

.row {
  margin-right: 0;
  margin-left: 0;
}


