/*.container {
  max-width: 100% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/

.black-bar{
  width: 100%;
  height: 1em;
  background-color: black;
}

hr{
  margin-top: 0;
  margin-bottom: 0;
}

.top-artist-img{
  width: 5em;
}