.container {
  max-width: 100% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.black-bar{
  width: 100%;
  height: 1em;
  background-color: black;
}